@use '../variables.module';

@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
  $colors: (
    'primary': ( 'base': variables.$color-primary ),
    'success': ( 'base': #21ba45 ),
    'warning': ( 'base': #f2711c ),
    'danger': ( 'base': #db2828 ),
    'error': ( 'base': #db2828 ),
    'info': ( 'base': #42b8dd ),
  ),
);
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;