<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sijay.suap.sys.mapper.SysUserRoleMapper">
    <resultMap id="BaseResultMap" type="cn.sijay.suap.sys.entity.SysUserRole">
        <id property="roleId" column="role_id" jdbcType="BIGINT"/>
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap" parameterType="cn.sijay.suap.sys.entity.SysUserRole">
        select role_id, user_id
        from sys_user_role
        <where>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="listByRoleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select role_id, user_id
        from sys_user_role
        where role_id = #{roleId}
    </select>

    <select id="listByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select role_id, user_id
        from sys_user_role
        where user_id = #{userId}
    </select>

    <delete id="deleteByRoleId" parameterType="java.lang.Long">
        delete
        from sys_user_role
        where role_id = #{roleId}
    </delete>

    <delete id="deleteByUserId" parameterType="java.lang.Long">
        delete
        from sys_user_role
        where user_id = #{userId}
    </delete>

    <insert id="insert" parameterType="cn.sijay.suap.sys.entity.SysUserRole">
        insert into sys_user_role
            (role_id, user_id)
        values (#{roleId}, #{userId})
    </insert>

    <insert id="batchInsert">
        insert into sys_user_role(role_id, user_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.roleId},#{item.userId})
        </foreach>
    </insert>
</mapper>
