package cn.sijay.suap.${module}.entity;

import cn.sijay.suap.core.annotation.ExcelProperty;
import cn.sijay.suap.core.annotation.QueryColumn;
import cn.sijay.suap.core.base.BaseEntity;
import cn.sijay.suap.core.enums.QueryType;
import cn.sijay.suap.core.enums.YesOrNo;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.fasterxml.jackson.annotation.JsonProperty;
import io.swagger.v3.oas.annotations.media.Schema;
import jakarta.validation.constraints.Size;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;
import lombok.experimental.Accessors;
#foreach ($import in $imports)
import ${import};
#end

import java.io.Serial;
import java.io.Serializable;

/**
 * <p>
 * <em>${className} ${comment}</em>
 * </p>
 *
 * @author ${author}
 * @since ${createTime}
 */
@Data
#if(${superClass})
@ToString(callSuper = true)
@EqualsAndHashCode(callSuper = true)
#end
@Accessors(chain = true)
@TableName("${tableName}")
@Schema(name = "${className}", title = "${comment}", description = "${comment}")
#if(${superClass})
public class ${className} extends ${superClassName} {
#else
public class ${className} implements Serializable {
#end

    @Serial
    private static final long serialVersionUID = 1L;

    #set($excelSort=0)
    #foreach($field in $fields)
        #if(!$field.getBoolSuperColumn())
    /**
     * ${field.comment}
     */
    @Schema(title = "${field.comment}")
            #if($field.getBoolExcelColumn())
    @ExcelProperty(value = "${field.comment}", sort = $excelSort)
                #set($excelSort=$excelSort+1)
            #end
            #if($field.getBoolQueryable())
    @QueryColumn(QueryType.${field.queryType})
            #end
            #if($field.javaType.getCode() == 'String')
    @Size(max = $field.length, message = "字段[${field.comment}]最大长度为{max}")
            #end
            #if($field.getBoolPrimaryKey())
    @TableId(value = "${field.name}", type = IdType.AUTO)
            #else
    @TableField("${field.name}")
            #end
    private ${field.javaType.getCode()} ${field.fieldName};

        #end
    #end
    #foreach($field in $fields)
        #if($field.getBoolQueryable())
            #if($field.queryType.getCode() == 'BT')
    @TableField(exist = false)
    private ${field.javaType.getCode()} ${field.fieldName}Start;

    @TableField(exist = false)
    private ${field.javaType.getCode()} ${field.fieldName}End;

            #end
        #end
    #end
}
