package cn.sijay.suap.${module}.mapper;

import cn.sijay.suap.${module}.entity.${className};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * <p>
 * <em>${className}Mapper ${comment}数据层</em>
 * </p>
 *
 * @author ${author}
 * @since ${createTime}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}> {
}
