		.radio-check {
			position: relative;
			height: 35px;
			top: 5px
		}
		
		.radio-check>input {
			position: absolute;
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
			opacity: 0;
		}
		
		.radio-check>label {
			position: absolute;
			left: 30px;
			line-height: 20px;
			top: 0px;
		}
		
		.radio-check>label:before {
			content: '';
			position: absolute;
			left: -30px;
			top: 0px;
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 1px solid #bbb;
			transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
		}
		
		.radio-check>label:after {
			content: '';
			position: absolute;
			left: -30px;
			top: 0px;
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin-top: 6px;
			margin-left: 6px;
			transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
		}
		
		.radio-check input[type='radio']:checked+label:before {
			border-color: #00A1E9;
		}
		
		.radio-check input[type='radio']:checked+label:after {
			background: #00A1E9;
		}