<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="pattern" value="%green(%d{HH:mm:ss}) %highlight(%-5level) %magenta(%logger{100}%n) %msg%n"/>
    <!--日志格式应用spring boot默认的格式，也可以自己更改-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>
    <appender name="sql" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="sijay.zheng.z.app.filter.SqlLogFilter"/>
    </appender>

    <!--默认所有的包以info-->
    <root level="info">
        <appender-ref ref="stdout"/>
    </root>


    <logger name="org.hibernate.resource.jdbc.internal.ResourceRegistryStandardImpl" level="trace" additivity="false">
        <appender-ref ref="sql"/>
    </logger>
</configuration>
