
html,body{
    height:100%;
    font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}

	*{font-size: 12px}
	.progress{
		height:30px;
		margin-top:12px;
		width:100%;
		vertical-align: top;
		cursor:pointer;
	}
	#moredetail
	{
		top:5px;
		width:96.5%;
		position:fixed; 
		right: 0px;
		height:98%;
		background:#ffffff;
		text-align:right;
		z-index:9999;
	}
	.instancelistview-center-table{
		width:100%;
		height:88%;
	}
	.bottomall-center{
		height:38%;
	}
	.datagrid-header .datagrid-cell span {
		font-size: 12px;
	}
	.datagrid-cell,.datagrid-cell-group,.datagrid-header-rownumber,.datagrid-cell-rownumber {
		margin: 0;
		padding: 0 4px;
		white-space: nowrap;
		word-wrap: normal;
		overflow: hidden;
		height: 18px;
		line-height: 18px;
		font-size: 12px;
		font-weight: normal;
		color: #555
	}
	.datagrid-header-row,.datagrid-row {
		height: 36px;
		padding:0px;
	}
	.tree-title {
		font-size: 12px;
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
		white-space: nowrap;
		padding: 0 2px;
		height: 32px;
		line-height: 32px
	}
	.indexall-top{
		height:106px;
		padding:5px;
		border:0px solid #ffffff; 
		position:relative;
		text-align:center;  
		padding-left:.5em;
		background: #ffffff;
		width: 99%;
	}
	.neicunchart{
		height:90%;
		width:100%;
	}
	.baojingchart{
		height:96%;
		width:100%;
	}
	.big, .small{ 
	  font-size:21px;
	}
	.indexjc-bottom{
		height:100%;
	}
	.chartspie{
		float: right;
		margin-right: 5%;
		margin-top: -65%;
	}
	.indexjc-top{
		height:3em;
		padding:.5em;
		border:1px solid #E4E7EB; 
		position:relative;
		text-align:left;  
		background: #E9EDF2;
	}
	.resources {
		color:#6C7480;
		text-align:left;
		padding:6% 0px 10px 10%;
	    float: left;
	    width: 10px;
	    overflow: hidden;
	    overflow: hidden;
	    height: 25%;
	}
	.leftbj-center{
		height: 100%;
	}
	#bd .protect-box .protect-title {
		height: 40px;
		line-height: 35px;
		background-color: #FFFFFF;
		margin: 3px 8px 0px 10px;
		color: #747C87;
		border-bottom: 1px solid #eee
	}
	p{
		color: #666;
		font-size: 12px;
		width:100%;
		margin:0;
		padding:0;
	}
	#bd .protect-box ul .protect-item {
		cursor: pointer;
		height: 40px;
		padding: 5px;
		line-height: 35px;
		background-color: #F9F9F9;
		border-bottom: 1px solid #F0F0F0
	}
	 .creattable1 ul li {
		height: 40px;
		line-height: 30px;
		background-color: transparent;
		margin: 7px 20px 7px 30px;
		border-bottom: 1px dotted #dedede
	}
	.b-b-info-label .icon-tixing{
		color: #fff;
		font-size: 16px;
		margin-left:2px;
	}
	.b-b-info-label .icon-zhuyi{
		color: #fff;
		font-size: 15px;
		margin-left:2px;
	}
	.b-b-info-label .icon-anquan1{
		color: #fff;
		font-size: 14px;
		margin-left:3px;
	}
	.b-b-info-label .icon-liebiao{
		font-size: 16px;
		font-weight: bold;
	}
	.creattable {margin:0px 5px 0 5px;}
	
	.rightbj-top{
		height:140px;
		padding:5px;
		border:0px solid #F5F8FA; 
		position:relative;
		text-align:center;  
		background: #FFFFFF;
	}
	.ant-col-5 {
	    display: block;
	    width: 22%;
	    padding-left:10px;
	    margin-top:13px;
	    float:left;
	    margin-right:40px;
	}
	.indexall-middle{overflow: hidden;height:42.5%;margin-bottom:0.3%;}
	.indexall-bottom{overflow: hidden;height:41.1%;}
.middleall-left{
	height:100%;
	float:left;
	width:32%;
	padding:0.5%;
	margin-left:0.45%;
	border:1px solid #eeeeee; 
	position:relative;
	text-align:center;  
	background: #fdfdfd;
	
}
.middleall-center{
	height:100%;
	float:left;
	width:33%;
	padding:0.5%;
	margin-left:0.45%;
	border:1px solid #eeeeee; 
	position:relative;
	text-align:center;  
	background: #fdfdfd;
		
}
.middleall-right{
	height:100%;
	float:left;
	width:33.2%;
	padding:0.5%;
	margin-left:0.45%;
	margin-right:0.45%;
	border:1px solid #eeeeee; 
	position:relative;
	text-align:center;  
	background: #fdfdfd;
	
}
.bottomall-left{
	height:100%;
	float:left;
	width:65.4%;
	padding:0.5%;
	margin-left:0.45%;
	border:1px solid #eeeeee; 
	position:relative;
	text-align:center;  
	background: #fdfdfd;
}
.bottomall-center{
	height:100%;
	float:left;
	width:33.2%;
	padding:0.5%;
	margin-left:0.45%;
	margin-right:0.45%;
	border:1px solid #eeeeee; 
	position:relative;
	text-align:center;  
	background: #fdfdfd;
}
/*.bottomall-center:hover{
	float:left;
	width:33.2%;
	margin-left:0.45%;
	margin-right:0.45%;
	border: 1px dashed #7C8691;
	position:relative;
	text-align:center;  
	background: #ffffff;
}*/
#detail
{
	width:0px;
	position:fixed; 
	right: 0px;
	height:100%;
	background:#f7f7f7;
	text-align:right;
	transition:width 1s;
	-moz-transition:width 1s; /* Firefox 4 */
	-webkit-transition:width 1s; /* Safari and Chrome */
	-o-transition:width 1s; /* Opera */
	z-index:9999;
}

#guanbi{
	display:none;
	color: #6C7480;
	cursor: pointer;
}
.bottomjc-left{
	height:100%;
	float:left;
	width:20%;
	border:0px solid #E4E7EB; 
	position:relative;
	text-align:center;  
	background:#ffffff;
}
.bottomjc-center{
	height:100%;
	float:left;
	width:79.9%;
	border:1px solid #E4E7EB; 
	border-top:0px;
	position:relative;
	text-align:center;  
	background: #ffffff;
}

.jc-center-left{
	height: 100%;
	width: 55%;
	float: left;
	margin:3px;
}
.jc-center-right{
	height: 100%;
	width: 44%;
	float: left;
	margin:3px;
	margin-right:0px;
}
.jc-center-left-top{
	width: 100%;
	height: 68%;
	position:relative;
	text-align: left;
	background: #ffffff;
	border: 1px solid #eee;
}
.jc-center-left-bottom{
	width: 100%;
	height: 31%;
	position:relative;
	text-align: left;
	background: #ffffff;
	margin-top:3px;
	border: 1px solid #eee;
}
.jc-center-right-top{
	width: 100%;
	height: 50%;
	position:relative;
	text-align: left;
	background: #ffffff;
	border: 1px solid #eee;
}
.jc-center-right-bottom{
	width: 100%;
	height: 49%;
	position:relative;
	text-align: left;
	background: #ffffff;
	margin-top:3px;
	border: 1px solid #eee;
}

.jc-center-top-right{
	float:left;
	width: 35%;
	height: 100%;
	position:relative;
	background: #ffffff
}

.jc-center-top-right-top{
	width: 100%;
	height: 100%;
	text-align: center;
}

.jc-center-bottom{
	text-align:left;
	height: 34.5%;
}
.jc-center-bottom-title{
	text-align:left;
	font-size: 13px;
	color: #777;
	padding:8px 5px;
	background: #f3f3f3;
}

.zonglan{
	color: #6C7480;
	font-size: 1.1rem;
}

.indexbj-left{
	float:left;
	width:70%;
	height: 100%;
}
.indexbj-right{
	float:right;
	width:30%;
	height: 100%;
	padding:0 10px;
	background: #FFFFFF;
}
.leftbj-center{
	padding:0px 10px;
	border:1px dotted #DDDDDD; 
	background: #FFFFFF;
}
.chartWrap{
	width: 100%;
	height: 100%;
}
.chartMain{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.rightbj-center{
	margin-top:15px;
	margin-left:.5%;
	height:70%;
	border:0px solid #E4E7EB; 
	background: #ffffff;
}
.rightbj-bottom{
	height:9.5%;
	margin-top:.5%;
	margin-left:.5%;
	border:0px solid #E4E7EB; 
	background: #ffffff;
}
.ant-row{
	padding:10px;
	padding-left:0px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.resourceName {
    color: #3978D5;
    font-size: 30px;
}
.alertName {
    color: #b57cf7;
    font-size: 30px;
}
.errorName {
    color: #e67a5c;
    font-size: 30px;
}
.warnName {
    color: #fca948;
    font-size: 30px;
}
h2{
	color: #444;
	font-size: 14px;
	padding-bottom:10px;
	font-weight: normal;
}

#bd .protect-box ul .protect-item .item-name {
	display: inline-block;
	width: 180px;
	color: #777A80;
	margin-right: 15px
	
}

#bd .protect-box ul .protect-item .detail {
	color: #777A80
}

#bd .protect-box ul .protect-item .detail span {
	color: #C65B60
}

#bd .protect-box ul li.normal {
	border-top: 1px solid #d9d9d9;
	font-size: 14px;
	color: #777A80
}

#bd .protect-box ul li .iconfont.right {
	color: #63b247
}

#bd .protect-box ul li .iconfont.warning {
	color: #FF9F85
}

#bd .protect-box .b-b-info-label .item-detail {
	color: #444;
	display: inline-block;
	margin: 0 10px;
	margin-left:5px;
}

#bd .protect-box .b-b-info-label .description {
	color: #000;
	display: inline-block;
	margin: 0 20px;
	margin-left:5px;
}

#bd .protect-box .b-b-info-label .description .alert{
	color: #FF9F85;
	font-weight: bold;
	padding: 0 5px;
}
#bd .protect-box ul li .description .alarm{
	color: #FFDE7B;
	font-weight: bold;
	padding: 0 5px;
}
#bd .protect-box ul li .description .deal{
	color: #63b247;
	font-weight: bold;
	padding: 0 5px;
}
#bd .protect-box ul li .description .kuohao {
	color: #777A80
}

#bd .protect-box ul li .description .buy {
	color: #63b247
}

#bd .protect-box .b-b-info-label .no-care {
	float: right;
	text-decoration:none;
	background: #53B9F9;
	margin:8px 0;
	margin-left: 10px;
	padding:0 8px;
	color: #f9f9f9;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	text-align: center;
    cursor:pointer;
}

#bd .protect-box .b-b-info-label a {
	float: right;
}

#bd .protect-box ul.open li {
	display: none
}

#bd .protect-box ul.open .protect-item {
	display: block
}

#bd .protect-box ul.open .protect-item .close {
	display: inline
}

#bd .protect-box ul.open .protect-item .open {
	display: none
}

.deal textarea {
	font-size: 14px;
	padding: 10px;
	resize: none;
	border: 1px solid #b3b3b3;
	text-decoration: none;
	margin-top: 15px;
	height: 120px;
	width: 100%
}

.deal .title {
	font-size: 14px;
	color: #777A80;
	height: 50px;
	line-height: 50px
}

.deal input[type="text"] {
	float: left;
	width: 174px;
	height: 32px;
	padding: 8px 15px;
	text-decoration: none;
	margin-right: 12px
}

.deal .nav-tabs.style2 li {
	margin-left: 0
}

.layui-layer-dialog .layui-layer-content .deal {
	padding: 20px 0
}
.device-name{
  float:left;
}

/*form*/
.formbody{padding:15px 35px;}
.formtitle{border-bottom:solid 1px #d0dee5; line-height:35px; position:relative; height:35px; margin-bottom:48px;}
.formtitle span{font-weight:bold;font-size:15px; border-bottom:solid 3px #66c9f3;color:#7f7f7f;float:left; position:absolute; z-index:100; bottom:-1px; padding:0 3px; height:30px; line-height:30px;}
.forminfo{padding-left:23px;}
.forminfo li{margin-bottom:13px; clear:both;}
.forminfo li label{width:86px;line-height:34px; display:block; float:left;}
.forminfo li i{color:#7f7f7f; padding-left:20px; font-style:normal;}
.forminfo li cite{display:block; padding-top:10px;}
.dfinput{ height:28px; line-height:28px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(/hwms/images/loginimages/inputbg.gif) repeat-x; text-indent:10px;}


/*tools*/
.toolsli{clear:both; overflow:hidden; margin-bottom:40px;}
.toollist{margin-left:30px; overflow:hidden; float:left;}
.toollist li{width:115px; text-align:center; float:left; margin-right:16px;margin-left:10px;}
.toollist li a{width:65px; height:65px; background:#5DB8FD;border-radius: 50px;display:block;margin-bottom:20px;margin-left:20px}
.toollist li a img{border: none;width:36px;height:36px;margin-top:14px;}
.toollist li a:hover{background:#71B7EA;}
.toollist li h2{line-height:25px;font-style:normal;margin-left:-10px;}
.tooladd{margin-top:25px; width:20px; height:20px; float:left; display:block;}
.tooladd1{margin-top:15px; width:20px; height:20px; float:left; display:block;}
.tooladd2{margin-top:5px; width:20px; height:15px; float:left; display:block;}

/*=============================================================================*/
