/* CSS Document */
@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;font-family:"微软雅黑";color:#fff;}
div{overflow:hidden;}
a{cursor:pointer;text-decoration:none;outline:none;hidefocus}
img{border:0;}

/* soft_function */
.soft_function{width:1000px;height:636px;margin:0 auto}
.soft_con_icon{width:1000px;height:190px;display:block;padding-top:10px}
.soft_con_icon ul li{float:left;display:block;list-style:none;height:180px;width:150px; margin:0 25px;opacity:0.6; filter:Alpha(opacity=60);}
.soft_con_icon ul li a p{color:#fff;font-size:14px;font-family:"微软雅黑";text-align:center}
.soft_con_icon  img{margin:0px 0px 0px 16px}
.soft_con{height:296px;width:1000px}
.soft_con1{height:20px;width:1000px;background:url(images/line_select_001.gif)}
.soft_con2{height:275px;width:998px;border-bottom:1px solid #112F47;border-left:1px solid #112F47;border-right:1px solid #112F47;background:#183C67}
.soft_con2 div{float:left;margin:8px 0px;}
.function1{height:259px;width:249px;border-right:1px dashed #112F47;opacity:0.8; filter:Alpha(opacity=80);}
.function2{height:259px;width:248px;opacity:0.8; filter:Alpha(opacity=80);}
.soft_con2 div img{margin:20px 50px 0px 49px}
.soft_con2 div p{text-align:center}
.p1{font-size:14px;color:#008dd9;font-family:"微软雅黑";line-height:45px}
.p2{font-size:12px;color:#c0c0c0;font-family:"微软雅黑";width:208px;height:50px;line-height:24px;margin:auto;overflow: hidden;}


