<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8">
		<title>知识库管理</title>
		<link rel="stylesheet" type="text/css" href="../../themes/default/easyui.css" />
		<script type="text/javascript" src="../../jquery.min.js"></script>
		<script type="text/javascript" src="../../jquery.easyui.min.js"></script>
	</head>

	<body style="height: 600px;width: 740px;">
		<div onclick="function(){console.log('sfdfs')}" style="width: 40px;height: 40px;background-color: #E6EEF8;"></div>

		<script>
			//			var s = '{"map":{"BUSSINESSTYPE":{"1":"一般","2":"中等","3":"重大"},"LEVEL":{"1":"一般","2":"重要","3":"非常重要"},"SOURCETYPE":{"1":"故障单提交","2":"电话申报","3":"系统报警","4":"事后补录","5":"日常巡检"},"SERVICETYPE":{"1":"软件故障","2":"硬件故障","3":"维护","4":"服务","5":"数据查询"}}}';
			//			var data = JSON.parse(s)
			//			const lemap = data.map.LEVEL;
			//			const semap = data.map.SERVICETYPE;
			//			const bsmap = data.map.BUSSINESSTYPE;
			//			const somap = data.map.SOURCETYPE;
			//			$.each(lemap, function(i, n) {
			//				console.log(n);
			//			});
			//			console.log('------------');
			//			var datastr = '';
			//			for(k in lemap) {
			//				datastr += ',{label:"'+lemap[k]+'",value:"'+k+'"}'
			//			}
		</script>
	</body>

</html>
