package ${packageName}.${moduleName}.entity;

import com.alibaba.excel.annotation.ExcelIgnoreUnannotated;
import com.alibaba.excel.annotation.ExcelProperty;
import jakarta.persistence.*;
import jakarta.validation.constraints.NotNull;
import jakarta.validation.constraints.Size;
import lombok.*;
import org.hibernate.annotations.ColumnDefault;
import org.hibernate.annotations.Comment;
import org.hibernate.annotations.JdbcTypeCode;
import org.hibernate.type.SqlTypes;
import org.springframework.data.annotation.CreatedBy;
import org.springframework.data.annotation.CreatedDate;
import org.springframework.data.annotation.LastModifiedBy;
import org.springframework.data.annotation.LastModifiedDate;

import java.io.Serial;
import java.io.Serializable;
#foreach($import in $imports)
import $import;
#end

/**
 * <strong>${className}</strong>
 * <p>
 * ${classComment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@ExcelIgnoreUnannotated
@AllArgsConstructor
@NoArgsConstructor
@Getter
@Setter
@ToString
@Comment("${classComment}")
@Entity
@Table(name = "${tableName}")
public class ${className} implements

    Serializable {
        @Serial
        private static final long serialVersionUID = 1L;

        #foreach($column in $columns)
            /**
             * ${column.columnComment}
             */
            #if(${column.isPk})
            @Id
            @GeneratedValue(strategy = GenerationType.IDENTITY)
            #end
            #if(${column.exportable})
            @ExcelProperty("${column.columnComment}")
            #end
            #if(${column.length})
            @Size(max = ${column.length})
            #end
            #if(${column.defaultValue})
                #if(${column.dataType}=="int"||${column.dataType}=="bigint")
                @ColumnDefault("${column.defaultValue}")
                #else
                @ColumnDefault("'${column.defaultValue}'")
                #end
            #end
            #if(!${column.nullable})
            @NotNull
            #end
            #if(${column.javaType}=="LIST_LONG")
            @JdbcTypeCode(SqlTypes.JSON)
            #end
            #if(${column.columnName}=="create_by")
            @CreatedBy
            #end
            #if(${column.columnName}=="create_date")
            @CreatedDate
            #end
            #if(${column.columnName}=="update_by")
            @LastModifiedBy
            #end
            #if(${column.columnName}=="update_date")
            @LastModifiedDate
            #end
        @Column(name = "${column.columnName}"#if(!${column.nullable}), nullable = false#end#if(${column.length}), length = ${column.length}#end)
        private ${column.javaType.value} ${column.javaField};

        #end
        #foreach(${column} in ${columns})
            #if(${column.queryable}&&${column.queryType}=="BETWEEN")
                /**
                 * ${column.columnComment}开始
                 */
                private ${column.javaType.value} ${column.javaField}Strat ;

                /**
                 * ${column.columnComment}结束
                 */
                private ${column.javaType.value} ${column.javaField}End ;

            #end
        #end
    }
