package ${packageName}.${moduleName}.repository;

import ${packageName}.${moduleName}.entity.${className};
import org.springframework.data.jpa.repository.support.JpaRepositoryImplementation;

/**
 * <strong>${className}Repository</strong>
 * <p>
 * ${classComment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${className}Repository extends JpaRepositoryImplementation<${className}, Long> {

}
