// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
    font-size: 16px;
}

body {
    font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

#app {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.el-container {
    height: 100%;

}

@media (min-width: 1920px) {
    .container {
        max-width: 1920px;
    }
}

.no-style-link,
.no-style-link:visited,
.no-style-link:hover,
.no-style-link:focus {
    color: inherit;
    text-decoration: none;
}
