<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定相应的Mapper接口-->
<mapper namespace="sijay.zheng.experience.mybatis.mapper.MTeacherMapper">
    <select id="listTeacher" resultMap="teachers">
        select t.id tid, t.name tname, s.id sid, s.name sname
        from m_teacher t,
             m_student s
        where t.id = s.tid
    </select>
    <resultMap id="teachers" type="MTeacher">
        <result property="id" column="tid"/>
        <result property="name" column="tname"/>
        <!-- 复杂属性映射，对象association 集合collection，通过javaType指定对象的类型，通过ofType指定集合的泛型 -->
        <collection property="students" ofType="MStudent">
            <result property="id" column="sid"/>
            <result property="name" column="sname"/>
        </collection>
    </resultMap>
</mapper>