<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定相应的Mapper接口-->
<mapper namespace="sijay.zheng.experience.mybatis.mapper.MUserMapper">
    <select id="listUser" resultType="MUserPO">
        select id, name, pwd
        from m_user
    </select>
    <select id="getUserById" resultType="MUserPO">
        select *
        from m_user
        <trim prefix="where" prefixOverrides="AND|OR">
            or id = #{id}
        </trim>
    </select>
    <select id="listUserByName" resultType="MUserPO">
        select *
        from m_user
        where name like #{name};
    </select>
    <!--    对象的属性可以直接取出-->
    <insert id="addUser" parameterType="MUserPO" useGeneratedKeys="true" keyProperty="id">
        insert into m_user (name, pwd)
        values (#{name}, #{pwd});
    </insert>
    <insert id="addOneUser" parameterType="map">
        insert into m_user (id, name)
        values (#{userId}, #{user_name});
    </insert>
    <insert id="addUsers" useGeneratedKeys="true" keyProperty="id">
        insert into m_user (name)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name})
        </foreach>
    </insert>
    <update id="updateUser">
        update m_user
        set name = #{name},
            pwd=#{pwd}
        where id = #{id};
    </update>

    <select id="pageList" parameterType="map" resultType="MUserPO">
        select *
        from m_user
        limit #{start}, #{size};
    </select>
</mapper>