<template>
  <div>
    <div v-show="showSearch">
      <el-card shadow="hover">
        <el-form ref="queryFormRef" :inline="true" :model="queryParams" class="inline-form">
    #foreach($field in $fields)
      #if(${field.queryable}&&${field.queryType}!="BETWEEN"&&${field.queryType}!="IN")
        #if(${field.inputType}=="input"||${field.inputType}=="textarea")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-input v-model="queryParams.${field.fieldName}" clearable placeholder="请输入${field.columnComment}" @keyup.enter="query"/>
          </el-form-item>
        #elseif(${field.inputType}=="number_input")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-input-number v-model="queryParams.${field.fieldName}" clearable placeholder="请输入${field.columnComment}" @keyup.enter="query"/>
          </el-form-item>
        #elseif(${field.inputType}=="select")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-select v-model="queryParams.${field.fieldName}" placeholder="请选择${field.columnComment}" clearable>
              <el-option v-for="item in ${field.fieldName}Options" :key="item.value" :label="item.label" :value="item.value"/>
            </el-select>
          </el-form-item>
        #elseif(${field.inputType}=="tree_select")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-tree-select v-model="queryParams.${field.fieldName}" :data="${field.fieldName}Options" accordion
                    check-strictly clearable filterable highlight-current placeholder="请选择${field.columnComment}" clearable/>
          </el-form-item>
        #elseif(${field.inputType}=="checkbox")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-checkbox-group v-model="queryParams.${field.fieldName}" clearable>
              <el-checkbox v-for="item in ${field.fieldName}Options" :key="item.value" :label="item.label" :value="item.value" border/>
            </el-checkbox-group>
          </el-form-item>
        #elseif(${field.inputType}=="radio")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-radio-group v-model="queryParams.${field.fieldName}" clearable>
              <el-radio v-for="item in ${field.fieldName}Options" :key="item.value" :label="item.label" :value="item.value" border>
                {{item.label}}
              </el-radio>
            </el-radio-group>
          </el-form-item>
        #elseif(${field.inputType}=="switch")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-switch v-model="queryParams.${field.fieldName}" :active-value="true" :inactive-value="false" active-text="是" inactive-text="否" inline-prompt/>
          </el-form-item>
        #elseif(${field.inputType}=="datetime_pick")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-date-picker v-model="queryParams.${field.fieldName}" clearable type="datetime" placeholder="请选择${field.columnComment}"/>
          </el-form-item>
        #elseif(${field.inputType}=="date_pick")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-date-picker v-model="queryParams.${field.fieldName}" clearable type="date" placeholder="请选择${field.columnComment}"/>
          </el-form-item>
        #elseif(${field.inputType}=="time_pick")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-time-picker v-model="queryParams.${field.fieldName}" clearable placeholder="请选择${field.columnComment}"/>
          </el-form-item>
        #end
      #elseif(${field.queryable}&&${field.queryType}=="between")
        #if(${field.inputType}=="datetime_pick")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-date-picker v-model="queryParams.${field.fieldName}" clearable type="datetime" placeholder="请选择${field.columnComment}"/>
          </el-form-item>
        #elseif(${field.inputType}=="date_pick")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-date-picker v-model="queryParams.${field.fieldName}" clearable type="date" placeholder="请选择${field.columnComment}"/>
          </el-form-item>
        #elseif(${field.inputType}=="time_pick")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-time-picker v-model="queryParams.${field.fieldName}" clearable placeholder="请选择${field.columnComment}"/>
          </el-form-item>
        #end
      #elseif(${field.queryable}&&${field.queryType}=="in")
        #if(${field.inputType}=="select")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-select v-model="queryParams.${field.fieldName}" clearable placeholder="请选择${field.columnComment}" multiple>
              <el-option v-for="item in ${field.fieldName}Options" :key="item.value" :label="item.label" :value="item.value"/>
            </el-select>
          </el-form-item>
        #elseif(${field.inputType}=="tree_select")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-tree-select v-model="queryParams.${field.fieldName}" :data="${field.fieldName}Options" accordion
              check-strictly clearable filterable highlight-current placeholder="请选择${field.columnComment}" clearable/>
          </el-form-item>
        #elseif(${field.inputType}=="checkbox")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-checkbox-group v-model="queryParams.${field.fieldName}">
              <el-checkbox v-for="item in ${field.fieldName}Options" :key="item.value" :label="item.label" :value="item.value" border/>
            </el-checkbox-group>
          </el-form-item>
        #end
      #end
    #end
          <el-form-item>
            <el-button icon="Search" type="primary" @click="query">搜索</el-button>
            <el-button icon="Refresh" @click="resetQuery">重置</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
    <el-card shadow="hover">
      <template #header>
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button v-hasPermission="'${moduleName}:${businessName}:add'" icon="Plus" plain type="primary" @click="add">新增</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button v-hasPermission="'${moduleName}:${businessName}:remove'" :disabled="!ids.length" icon="Delete" plain type="danger" @click="remove">删除</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button v-hasPermission="'${moduleName}:${businessName}:import'" icon="Upload" plain type="primary" @click="uploadDialog.visible=true">导入</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button v-hasPermission="'${moduleName}:${businessName}:export'" icon="Download" plain type="primary" @click="exportData">导出</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button v-hasPermission="'${moduleName}:${businessName}:export'" icon="Download" plain type="primary" @click="downloadTemplate">下载模板</el-button>
          </el-col>
          <table-tool-bar v-model:showSearch="showSearch" @queryTable="pageList"/>
        </el-row>
      </template>
      <el-table v-loading="loading" :data="dataList" stripe @selection-change="selectionChange">
        <el-table-column align="center" type="selection" width="55"/>
    #foreach($field in $fields)
      #if(${field.fieldName}=="id")
        <el-table-column label="编号" prop="id"/>
      #elseif(${field.visible})
        #if(${field.javaType}=="Boolean")
        <el-table-column :show-overflow-tooltip="true" label="${field.columnComment}" prop="${field.fieldName}">
          <template #default="scope">
            {{scope.row.${field.fieldName} ? '是' : '否'}}
          </template>
        </el-table-column>
        #else
        <el-table-column :show-overflow-tooltip="true" label="${field.columnComment}" prop="${field.fieldName}"/>
        #end
      #end
    #end
        <el-table-column align="center" class-name="small-padding fixed-width" label="操作" width="150">
          <template #default="scope">
            <el-tooltip content="修改" placement="top">
              <el-button v-hasPermission="'${moduleName}:${businessName}:edit'" icon="Edit" link type="primary" @click="edit(scope.row)"></el-button>
            </el-tooltip>
            <el-tooltip content="删除" placement="top">
              <el-button v-hasPermission="'${moduleName}:${businessName}:remove'" icon="Delete" link type="primary" @click="remove(scope.row)"></el-button>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
      <paginationBar v-model:limit="queryParams.size" v-model:page="queryParams.current" :total="total" @pagination="pageList"/>
    </el-card>
    <el-dialog v-model="dialog.visible" :title="dialog.title">
      <el-scrollbar>
        <el-form ref="formRef" :model="formData" :rules="rules" label-position="left" label-width="120px" status-icon>
    #foreach($field in $fields)
      #if(${field.addable})
        #if(${field.inputType}=="input")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-input #if(!${field.editable}):disable="!!formData.id"#end v-model="formData.${field.fieldName}" placeholder="请输入${field.columnComment}" clearable/>
          </el-form-item>
        #elseif(${field.inputType}=="number_input")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-input-number #if(!${field.editable}):disable="!!formData.id"#end v-model="formData.${field.fieldName}" placeholder="请输入${field.columnComment}" clearable/>
          </el-form-item>
        #elseif(${field.inputType}=="textarea")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-input type="textarea" #if(!${field.editable}):disable="!!formData.id"#end v-model="formData.${field.fieldName}" placeholder="请输入${field.columnComment}" clearable/>
          </el-form-item>
        #elseif(${field.inputType}=="select")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-select #if(!${field.editable}):disable="!!formData.id"#end v-model="formData.${field.fieldName}" placeholder="请选择${field.columnComment}" clearable>
              <el-option v-for="item in ${field.fieldName}Options" :key="item.value" :label="item.label" :value="item.value"/>
            </el-select>
          </el-form-item>
        #elseif(${field.inputType}=="tree_select")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-tree-select #if(!${field.editable}):disable="!!formData.id"#end v-model="formData.${field.fieldName}" :data="${field.fieldName}Options" accordion check-strictly clearable filterable highlight-current placeholder="请选择${field.columnComment}"/>
          </el-form-item>
        #elseif(${field.inputType}=="checkbox")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-checkbox-group #if(!${field.editable}):disable="!!formData.id"#end v-model="formData.${field.fieldName}">
              <el-checkbox v-for="item in ${field.fieldName}Options" :key="item.value" :label="item.label" :value="item.value" border/>
            </el-checkbox-group>
          </el-form-item>
        #elseif(${field.inputType}=="radio")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-radio-group #if(!${field.editable}):disable="!!formData.id"#end v-model="formData.${field.fieldName}">
              <el-radio v-for="item in ${field.fieldName}Options" :key="item.value" :label="item.label" :value="item.value" border>{{item.label}}</el-radio>
            </el-radio-group>
          </el-form-item>
        #elseif(${field.inputType}=="switch")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-switch #if(!${field.editable}):disable="!!formData.id"#end v-model="formData.${field.fieldName}" :active-value="true" :inactive-value="false" active-text="是" inactive-text="否" inline-prompt/>
          </el-form-item>
        #elseif(${field.inputType}=="datetime_pick")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-date-picker #if(!${field.editable}):disable="!!formData.id"#end v-model="formData.${field.fieldName}" type="datetime" placeholder="请选择${field.columnComment}" clearable/>
          </el-form-item>
        #elseif(${field.inputType}=="date_pick")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-date-picker #if(!${field.editable}):disable="!!formData.id"#end v-model="formData.${field.fieldName}" type="date" placeholder="请选择${field.columnComment}" clearable/>
          </el-form-item>
        #elseif(${field.inputType}=="time_pick")
          <el-form-item label="${field.columnComment}：" prop="${field.fieldName}">
            <el-time-picker #if(!${field.editable}):disable="!!formData.id"#end v-model="formData.${field.fieldName}" placeholder="请选择${field.columnComment}" clearable/>
          </el-form-item>
        #end
      #end
    #end
        </el-form>
      </el-scrollbar>
      <template #footer>
        <div style="flex: auto">
          <el-button @click="cancel">取消</el-button>
          <el-button @click="reset">重置</el-button>
          <el-button type="primary" @click="submitForm">提交</el-button>
        </div>
      </template>
    </el-dialog>
    <el-dialog v-model="uploadDialog.visible" :title="uploadDialog.title" align-center>
      <el-button icon="Download" plain type="primary" @click="downloadTemplate()">下载模板</el-button>
      <el-upload :action="`${constant.baseApi}/${businessName}/import`" accept=".xlsx" :on-success="uploadSuccess" drag>
        <el-icon class="el-icon--upload">
          <upload-filled/>
        </el-icon>
        <div class="el-upload__text">
          <em>拖入或点击以进行上传</em>
        </div>
        <template #tip>
          <div class="el-upload__tip">xlsx文件</div>
        </template>
      </el-upload>
    </el-dialog>
  </div>
</template>

<script setup>
defineOptions({
  name: '${className}'
})
import {UploadFilled} from "@element-plus/icons-vue"
import TableToolBar from "@/components/tableToolBar.vue"
import PaginationBar from "@/components/paginationBar.vue"

const dataList = ref([])
const loading = ref(true)
const showSearch = ref(true)
const ids = ref([])
const total = ref(0)
const queryFormRef = ref()
const formRef = ref()
const dialog = reactive({
  visible: false,
  title: ''
})
const uploadDialog = reactive({
  visible: false,
  title: '上传${functionName}'
})
const initFormData = {
  id: undefined,
#foreach($field in $fields)
  #if(${field.addable})
    #if(${field.javaType}=="Boolean")
  ${field.fieldName}: true,
    #elseif(${field.javaType}=="Double"||${field.javaType}=="Integer"||${field.javaType}=="Long"||${field.javaType}=="BigDecimal")
  ${field.fieldName}: 0,
    #else
  ${field.fieldName}: undefined,
    #end
  #end
#end
}
const queryParams = ref({
  current: 1,
  size: 10,
#foreach($field in $fields)
  #if(${field.queryable})
  ${field.fieldName}: undefined,
  #end
#end
})
const formData = ref({...initFormData})
const rules = ref({
#foreach($field in $fields)
  #if(${field.addable}&&${field.fieldName}!='id'&&(!${field.nullable}||${field.length}))
  ${field.fieldName}: [#if(!${field.nullable})relus.required('${field.columnComment}'),#end #if(${field.length}&&${field.javaType}=="String")relus.maxLength('${field.columnComment}', ${field.length}),#end],
  #end
#end
})
#foreach($field in $fields)
  #if(${field.inputType}=="select"||${field.inputType}=="tree_select"||${field.inputType}=="checkbox"||${field.inputType}=="radio")
const ${field.fieldName}Options = ref([])
  #end
#end

/**
 * 查询${functionName}列表
 */
const pageList = async () => {
  loading.value = true
  ${businessName}Api.page(queryParams.value).then(res => {
    dataList.value = res.rows
    total.value = res.total
    loading.value = false
  })
}

/**
 * 取消按钮
 */
const cancel = () => {
  reset()
  dialog.visible = false
}

/**
 * 表单重置
 */
const reset = () => {
  formRef.value?.resetFields()
  formData.value = {...initFormData}
}

/**
 * 搜索
 */
const query = () => {
  queryParams.value.current = 1
  pageList()
}

/**
 * 重置
 */
const resetQuery = () => {
  queryFormRef.value?.resetFields()
  query()
}

/**
 * 多选框选中数据
 */
const selectionChange = (selection) => {
  ids.value = selection.map(item => item.id)
}

/**
 * 新增
 */
const add = () => {
  reset()
  dialog.visible = true
  dialog.title = "添加${functionName}"
}

/**
 * 修改
 */
const edit = async (row) => {
  reset()
  const id = row?.id
  ${businessName}Api.getById(id).then(res => {
    Object.assign(formData.value, res.data)
    dialog.visible = true
    dialog.title = "修改${functionName}"
  })
}

/**
 * 提交按钮
 */
const submitForm = () => {
  formRef.value?.validate((valid) => {
    if (valid) {
      ${businessName}Api.save(formData.value).then(res => {
        ElMessage.success(res.message)
        dialog.visible = false
        pageList()
      })
    }
  })
}

/**
 * 删除
 */
const remove = (row) => {
  const _ids = row?.id ? [row?.id] : ids.value
  ElMessageBox.confirm('是否确认删除编号为"' + _ids + '"的${functionName}数据项？').then(() => {
    ${businessName}Api.remove(_ids).then(res => {
      ElMessage.success(res.message)
      pageList()
    })
  }).catch((err) => {
    console.log(err)
  })
}

/**
 * 下载模板
 */
const downloadTemplate = () => {
  ${businessName}Api.downloadTemplate()
}

/**
 * 导出
 */
const exportData = () => {
  ${businessName}Api.exportData()
}

/**
 * 导入结果提示
 */
const uploadSuccess = (res) => {
  uploadDialog.visible = false
  ElMessage.success(res.message)
  pageList()
}

onMounted(() => {
  nextTick(() => {
    pageList()
#foreach($field in $fields)
  #if(${field.inputType}=="select"||${field.inputType}=="tree_select"||${field.inputType}=="checkbox"||${field.inputType}=="radio")
    commonApi.getDictOptions('${field.javaType}').then(res => ${field.fieldName}Options.value = res.data)
  #end
#end
  })
})
</script>
